<style>
  .input-box{
        -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    margin-bottom: 0.25rem;
    overflow: hidden;
    border: 1px solid #CCCCCC;
  }
  .input-text{
        background: none;
    border: none;
    display: block;
    width: 100%;
    height: calc(1em + 1rem + 2px);
    padding: 0.975rem 1rem;
    line-height: 1.5;
    color: #999999;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'BrandonText', sans-serif;
}
  .ui-submit{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .375rem 1rem;
    height: calc(1.9em + 1rem + 2px);
    line-height: 1.5;
    color: white;
    background-color: #111111;
    text-transform: uppercase;
    font-family: 'Brandon', sans-serif;
    appearance: none;
    border: 0;
    margin-top: 0.7rem;
  }
</style>
